/* Common Section */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.common-titile{
    font-weight: 800;
    Font-size: 45px;
    color: #131313;
}

.primary-btn{
    padding: 20px 24px;
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 7px;
    border: none;
    font-size: 20px;
}

.common-item{
    max-width: 1920px;
    
}
/* Common Section end*/

.header-container{
    background-color: #ff900e1a;
    width: 100%;
    height: 1322px;
}

/* Nav Section */

.nav-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 240px 0 240px;

}
.nav-list ul{
    display: flex;
}
.nav-list ul li{
    list-style: none;
    padding-left: 20px;
    Font-size: 18px;
    font-weight: 700;
}

.nav-list ul li a{
    text-decoration: none;
    color: #424242;
}

/* Banner Section */

.banner-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner-title{
    font-size: 64px;
    color: #131313;
    margin-top: 90px;
    padding-bottom: 20px;
}

.banner-description p{
    font-size: 16px;
    color: #727272;
    margin-bottom: 20px;
    
}

.banner-img{
    margin-top: 50px;
    width: 100%;
    position: relative;
    overflow: none;
    object-fit: cover;
}

.banner-img> img{
    width: 1440px;
    height: 700px;
}


/* Feuture Container */
.feuture-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 85px 300px;
}


.img-gallary{
    
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}
.gallary img{
    height: 342px;
    width: 342px;
}

.feuture-description{
    padding: 70px; 
}

.color-gray{
    color: #727272;
    font-weight: 600;
}
.color-common{
    color: #FF900E;
}

.feuture-info{
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 500;
}

/* Skill */
.btn-two{
    padding: 45px 42px;
    background-color: #FF900E;
    Font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    position: relative;
    left: -50px;
    top: -140px;
}
#year{
    font-size: 65px;
}


.skill-container{
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 240px;
    
}

.skill-description{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.skill-list{
    padding-right: 54px;
    margin-left: 5px;
}

.skill-item{
    width: 586px;
    height: 171px;
    border-radius: 7px;
    box-shadow: .5px .5px 4px 6px rgba(0, 0, 0, 0.06);
    margin: 15px 0;
    padding: 30px 42px 30px 30px;

}
.skill-info> h3{
    border-left: 5px solid #FF900E;
}

.skill-info>p{
    padding-right: 50px;
}
.skill-paragraph{
    color: #727272;
    font-size: 16px;
    margin-top: 10px;
}

.arcitect-img{
    width: 50%;
    overflow: none;
    object-fit: cover;
}

/* Achivement Container Start  */

.service-container{
    margin: 10px 240px 180px 240px;
    display: flex;
    flex-direction: column;

}
.our-achivement{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.achivement-box{
    border: 2px solid #FF900E;
    border-radius: 7px;
    height: 240px;
    width: 240px;
    padding: 45px 35px;
}
.achivement-box:hover{
    border: 2px solid #727272;
    border-radius: 7px;
    background-color: #FF900E;
    transform: scale(1.1);
    margin: 10px;
    height: 240px;
    width: 240px;
    padding: 45px 35px;
}
.achivement-head{
    color: #424242;
    font-size: 45px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 10px;
}


.common-box-para{
    font-size: 20px;
    font-weight: 600px;
    color: #727272;
}

/* sponsor */
.sponsor-container{
    margin: 0 240px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.logo-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    
}

.logo-container img{
    justify-content: space-between;
    padding: 25px ;
    filter: grayscale(100%);
}

/* Footer Section */

footer{
    margin: 0 240px 216px;
    
    
}

.footer-container{
    text-align: center;
    width: 100%;
    height: 100px;
    padding-top: 38px;
    background-color: #FFF4E7;
    
}

/* -----------------------------------------------------
bonus------------------------------------------------- */

.team-container{
    margin: 10px 240px; 

    
}
.our-member >h3{
    text-align: center;
}
.team-img-container{
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}
.team-img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid #FF900E;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #faf8f8;
    box-shadow: .5px .5px 4px 6px rgba(0, 0, 0, 0.06);
}
.team-img img{
    width: 50%;
}
/* Media Queries */

@media screen and (max-width: 576px) {

    .common-titile{
        padding-bottom: 23px;
        text-align: center;
        font-weight: 800;
    }

    .nav-container{
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 20px 10px;
}
    .nav-list{
    background-color: #FFFFFF;
    border-radius: 8px;
 
    
    }
    .nav-list ul {
    display: flex;
    flex-direction: column;
    
}
    .nav-list ul li {
    padding: 10px 10px;
    background-color: white;
    margin-top: 5px;
}
    
li a {
    display: block;
    width: 100%x;
    color: #131313;
    padding: 15px 20px;
    border-radius: 6px;
    background-color: lightseagreen;
    text-align: center;

  }
  /* Banner */
  .banner-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

}

.banner-title{
    font-size: 45px;
    color: #131313;
    margin-top: 50px;
    padding-bottom: 20px;
}

.banner-img{
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    overflow: none;
    object-fit: cover;
}
.banner-img img{
    position: relative;
    width: 100%;
    height: 280px;

}
/* feuture */
    .feuture-container{
        flex-direction: column;
        padding: 10px 10px;
    }
    .feuture-description{
        padding: 10px; 
    }
    .img-gallary{
        grid-template-columns: repeat(1, 1fr);
    }
/* skill */
    .skill-container{
        
        flex-direction: column;
        margin: 10px;
        
    }
    .skill-info{
        width: 100%;
        margin-left: 0;
        object-fit: cover;
        
    }
    .skill-list{
        padding-right: 0;   
    }

    .skill-item{
        width: 100%;
        padding: 15px 10px;
    }
    .arcitect-img{
        height: 777px;
        width: 560px;
        
        /* padding: 10px; */
        /* overflow: hidden; */
        position: center;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .arcitect-img> img{
        height: 520px;
        width: 100%;
    }
    .btn-two{
        align-items: center;
        left: 50px;
        top: -140px;
    }
    /* Achivement */
    .service-container{
        margin: 0 10px;
        padding: 10px;
    }
    .our-achivement{
        flex-direction: column;
        gap: 10px;
    }
    .service-container{
        width: 100%;

    }
/* Sponsor */
    .sponsor-container{
        margin: 10px;
    }
    .logo-container{
        
        justify-content: center;
        align-items: center
    }
    /* Footer */
    footer{
        margin: 15px;
    }

    /* common */
    .common-titile{
        font-weight: 600;
        Font-size: 30px;
        color: #131313;
    }
    /* Our member */
    .team-container{
        margin: 10px 10px; 
       
    }
    .our-member >h3{
        font-weight: 600;
        Font-size: 30px;
        color: #131313;
    }
    .team-img-container{
       
        flex-direction: column;
        align-items: center;
        gap: 15px;
        font-size: 16px;
        padding: 40px 20px;
    }
    .team-img{
        
        padding: 20px;
        border-radius: 5px;
        background-color: #faf8f8;
        box-shadow: .5px .5px 4px 6px rgba(0, 0, 0, 0.06);
    }

    /* botton */
    .btn-two{
        padding: 10px 10px;
        /* background-color: #FF900E; */
        Font-size: 16px;
        /* font-weight: 500;
        color: #FFFFFF; */
        /* border: none;
        border-radius: 7px;
        position: relative;
        left: -50px;
        top: -140px; */
        left: 20px;
        top: -50px;
    }
    #year{
        font-size: 25px;
    }
}